
@import 'variables';
@import 'reset';
@import "common";


body {
  font-family: 'Noto Sans', sans-serif;
  color-scheme: light dark;
  color: $font-color-light;
  background-color: $bg-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: rotate 1s linear infinite;
}


@media (prefers-color-scheme: dark) {
  body {
    color: $font-color-dark;
    background-color: $bg-dark;
  }
}