@import 'variables';
@import 'reset';
@import 'common';
@import 'table';
@import 'home';

:root {
  --font-color: #{$font-color-light};
  --lighter-font-color: lighten($font-color-light, 20%);
  --bg-color: #{$bg-light};
  --bg-color-darkened: #{darken($bg-light, 2%)};
}

body {
  font-family: 'Noto Sans', sans-serif;
  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--bg-color-darkened);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #{$font-color-dark};
    --lighter-font-color: #{lighten($font-color-dark, 20%)};
    --bg-color: #{$bg-dark};
    --bg-color-darkened: #{lighten($bg-dark, 3%)};
  }
}
