@import '../styles/variables';

.grid-container {
  display: grid;
  grid-template-columns: $sidebar-width 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main';

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
  }
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - $header-height);
  overflow: hidden;
  padding: 3rem 1.2rem 1.2rem;
  @media (max-width: $breakpoint-mobile) {
    min-height: calc(100vh - $header-height - $footer-height);
  }
}
